<!doctype html>
{% load cms_tags sekizai_tags static i18n menu_tags %}
{% get_current_language as lang_code %}
<html lang="{{ lang_code }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>
            {% block title %}
                {% page_attribute "page_title" %}
            {% endblock title %}
        </title>

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
        <link rel="stylesheet" href="{% static '/vendors/bootstrap/4.0.0/css/bootstrap.min.css' %}">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        {% block content_before %}{% endblock %}

        {% static_placeholder 'top bar' %}

        <header class="header-container-fluid">
            {% block header %}
                {% placeholder 'header' %}
            {% endblock %}
        </header>

        {% block messages %}
            {% include 'includes/messages.html' with messages=messages %}
        {% endblock messages %}

        {% block content %}{% endblock %}

        {% block content_after %}{% endblock %}

        {% static_placeholder 'footer' %}
        
        <script src="{% static '/vendors/jquery/3.2.1/jquery.slim.min.js' %}"></script>
        <script src="{% static '/vendors/popper/1.12.9/popper.min.js' %}"></script>
        <script src="{% static '/vendors/bootstrap/4.0.0/js/bootstrap.min.js' %}"></script>
        {% render_block "js" %}
    </body>
</html>