{% load static %}

<div class="menu-header">
    <nav class="top-header Iscroll" aria-label="Menu superior">
        <div class="center ">
            <ul class="left">

                <li><a href="/contacto" title="Contacto" target="_blank"><span><strong>CONTACTA CON NOSOTROS</strong></span></a></li>
                <li><a href="https://intranet.ceu.es/" title="Intranet" rel="nofollow" target="_blank"><span>INTRANET</span></a></li>
                <li><a href="https://login.microsoftonline.com/" title="Correo" rel="nofollow" target="_blank"><span>CORREO</span></a></li>
            </ul>
            <ul class="right">
                <li>
                    <a href="/nuevo-alumno" title="Nuevo alumno"><span>NUEVO ALUMNO</span></a>
                </li>
                <li class="hide-bar">
                    <a href="/alumni" title="Alumni"><span>ALUMNI</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="back-menu">
        <div class="center">
			<div class="logo">
				<a href="/">
                    <img class="white" src="{% static '/img/logotipo-isep-blanco.png' %}" alt="Instituto Superior de Estudios Profesionales Comunidad Valenciana">
                    <img class="gray" src="{% static '/img/logotipo-isep-gris.png'%}" alt="Instituto Superior de Estudios Profesionales Comunidad Valenciana">
                </a>
			</div>

            <div class="ctrl-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="menu" aria-label="Menu principal">
                <ul>
                    <li data-menu="conocenos">
                        <a href="#" title="Conócenos"><span>Conócenos</span></a>
                    </li>
                    <li data-menu="estudios">
                        <a href="#" title="Estudios"><span>Estudios</span></a>
                    </li>
                    <li data-menu="vida-en-el-campus">
                        <a href="#" title="Vida en el Campus"><span>Vida en el Campus</span></a>
                    </li>
                    <li data-menu="admisiones-ayudas">
                        <a href="#" title="Admisión y Ayudas"><span>Admisión y ayudas</span></a>
                    </li>
                    <li data-menu="busqueda">
                        <span class="search-icon"></span>
                    </li>
                </ul>
            </nav>

            <div class="add-elements">
                <div class="center"></div>
            </div>

        </div>

    </div>

    <div class="submenu">
        <div class="center">
            <div data-menu="conocenos">
                <h2 class="category">Con&oacute;cenos</h2>
                <div class="cover-tags">
                    <div class="lg_4">
                        <h3 class="tag">Comunidad ISEP CEU CV</h3>
                        <ul>
                            <li>
                                <a href="#" title="Presentación"><span>Presentación</span></a>
                            </li>
                            <li>
                                <a href="#" title="Instalaciones"><span>Instalaciones</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="lg_4">
                        <h3 class="tag">Organizaci&oacute;n</h3>
                        <ul>
                            <li>
                                <a href="#" title="Saludo"><span>Saludo</span></a>
                            </li>
                            <li>
                                <a href="#" title="Estructura de Gestión y Académica">
                                    <span>Estructura de Gestión y Académica</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Normativa">
                                    <span>Normativa</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-menu="estudios">
                <h2 class="category">Estudios</h2>
                <div class="cover-tags">
                    <div class="lg_3">
                        <h3 class="tag">Por tipo</h3>
                        <ul>
                            <li><a href="#" title="Técnico Medio"><span>Técnico Medio</span></a></li>
                            <li><a href="#" title="Técnico Superior"><span>Técnico Superior</span></a></li>
                            <li><a href="#" title="Máster Profesional"><span>Máster Profesional</span></a></li>
                            <li><a href="#" title="Cursos de especialización"><span>Curso Especialización</span></a></li>
                        </ul>
                    </div>
                    <div class="lg_3">
                        <h3 class="tag">Por área</h3>
                        <ul>
                            <li><a href="#" title="Medicina"><span>Sanidad</span></a></li>
                            <li><a href="#" title="Imagen y sonido"><span>Imagen y sonido</span></a></li>
                            <li><a href="#" title="Informática y Comunicaciones"><span>Informática y Comunicaciones</span></a></li>
                        </ul>
                    </div>
                    <div class="lg_3">
                        <h3 class="tag">Por centro</h3>
                        <ul>
                            <li><a href="#" title="Valencia"><span>Valencia</span></a></li>
                            <li><a href="#" title="Castellón"><span>Castellón</span></a></li>
                        </ul>
                    </div>
                    <div class="lg_3">
                        <h3 class="tag">Por modalidad</h3>
                        <ul>
                            <li><a href="#" title="Presencial"><span>Presencial</span></a></li>
                            <li><a href="#" title="Semipresencial"><span>Semipresencial</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div data-menu="vida-en-el-campus">
                <h2 class="category">Vida en el Campus</h2>
                <div class="cover-tags">


                    <div class="lg_4">
                        <h3 class="tag">Servicios</h3>
                        <ul>
                            <li><a href="#" title="Secretaría General"><span>Secretaría General</span></a></li>
                            <li><a href="#" title="Biblioteca-CRAI"><span>Biblioteca-CRAI</span></a></li>
                            <li><a href="#" title="Información, Prácticas y Empleo"><span>Información, Prácticas y Empleo</span></a></li>
                            <li><a href="#" title="Idiomas"><span>Idiomas</span></a></li>
                            <li><a href="#" title="Deportes"><span>Deportes</span></a></li>
                            <li><a href="#" title="Erasmus+"><span>Erasmus+</span></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div data-menu="admisiones-ayudas">
                <h2 class="category">Admisi&oacute;n y ayudas</h2>
                <div class="cover-tags">

                    <div class="lg_4">
                        <h3 class="tag">Admisión</h3>
                        <ul>
                            <li><a href="#" title="Solicita admisión"><span>Solicita admisión</span></a></li>
                            <li><a href="#" title="Requisitos"><span>Requisitos</span></a></li>
                            <li><a href="#" title="Convalidaciones"><span>Convalidaciones</span></a></li>
                        </ul>
                    </div>
                    <div class="lg_4">
                        <h3 class="tag">Ayudas</h3>
                        <ul>
                            <li><a href="#" title="Ayudas y seguros"><span>Ayudas y seguros</span></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="generic-links" data-menu="perfiles">
                <h2 class="category">Perfiles</h2>
                <div class="cover-tags">
                    <ul></ul>
                </div>
            </div>

            <div class="generic-links" data-menu="centros">
                <h2 class="category">Intranet / Correo</h2>
                <div class="cover-tags">
                    <ul></ul>
                </div>
            </div>

            <div data-menu="busqueda">
                <div class="lg_12">
                    <form action="/buscador" method="PUT">
                        <input type="text" class="search-btn" name="q" placeholder="Buscar" title="campo de texto del buscador general">
                        <input type="submit" value="Ver resultados" class="right btn btn-normal" title="botón del buscador general" />
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
